.astronomycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 20px auto;
    padding: 15px 10px;
    background: #fff;

    .astronomycard-id {
        
        border: 2px solid #777;
        border-radius: 7px;
        padding: 5px 12px;
        color: #777;
          
    }

    .astronomycard-img-container {
        height: 400px;
        width: 400px;
        padding: 20px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .astronomycard-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .astronomycard-copyright-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            padding: 30px;
            align-items: flex-end;


            .astronomycard-copyright {
                color: #fff;
                /* transform: translateY(200px); */
                transition: 0.5s;
                font-size: 16px;
                /*  font-family: 'Amatic SC', sans-serif; */
                font-family: 'Lora', sans-serif;
                font-weight: 500;
                
            }
        }
    }

    

    .astronomycard-details {
        padding: 20px;
    }
}