.astronomycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    /* background: #fff; */
    backdrop-filter: blur(20px);
    border: .7px solid rgba(255,255,255,.2);
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100% ), linear-gradient(190deg, rgba(0,0,0,0.2) 0%, transparent 100%);

    @media only screen and (max-width: 768px) {
        padding: 0px;
    }

    .astronomycard-id {
        
        border: 1px solid #777;
        border-radius: 7px;
        padding: 5px 12px;
        color: #B66767;
        margin: 10px;
    }

    .astronomycard-img-container {
        height: 300px;
        width: 300px;
        /* border: 5px solid red; */
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 50px;
        transition: .8s;
        max-width: 100%;
        /* border-radius: 30px; */
        box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);

        @media only screen and (max-width: 768px) {
            width: 200px;
            height: 200px;
        }

        @media only screen and (max-width: 375px) {
            width: 150px;
            height: 150px;
        }


        &:hover {
            z-index: 1;
            transform: scale(1.1);
            box-shadow: 0 25px 40px rgba(0,0,0,.5);

            .astronomycard-copyright-container {
                p {
                    transform: translateY(0);
                    transition-delay: 0.05s;
                    transition: 0.5s;
                }
            }

            .astronomycard-img-wrapper {
                &:before {
                    opacity: 1;
                }

                .astronomycard-img {
                    transform: scale(5.2);
                }
            }
        }

        .astronomycard-img-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            /* border-radius: 30px; */
            overflow: hidden;

            .astronomycard-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
                background-size: cover;
                transition: transform ease-in-out 15s;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                mix-blend-mode: multiply;
                opacity: 0;
                transition: 0.5s;
            }
        }

        .astronomycard-copyright-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            /* border-radius: 30px; */
            z-index: 1;
            display: flex;
            padding: 20px;
            align-items: flex-end;

            .astronomycard-copyright {
                transform: translateY(200px);
                transition: 0.5s;
                font-size: 16px;
            }

        }
        
    }

    .astronomycard-details {
        padding: 20px;
    }

    /* .astronomycard-date {

    } */

    .astronomycard-likebtn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        width: 100px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 20px;
        background: #777;
        box-shadow: 0 5px 0 0 rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        font-size: 16px;
        margin-top: 15px;

        @media only screen and (max-width: 768px) {
            margin: 20px;
        }

        .astronomycard-likebtn-heart {
            stroke: #FFF;
            stroke-width: 1px;
            transition: all 150ms ease-in-out;
                
        }

        .astronomycard-likebtn-txt {
            padding: 5px;
            letter-spacing: 1px;
            text-transform: none;
        }

        &:hover {
            background-color: #36BF9D; 
            box-shadow: 0px 2px 2px 2px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);

            &:active {
                transform: scale(1);
            }

            .astronomycard-likebtn-heart {
                transform: scale(1.15);
            }
            
        }

        &.active {
            background: #FFF;

            .astronomycard-likebtn-heart {
                fill: #fb3958;
                stroke: none;
                
            }

            .astronomycard-likebtn-txt {
                color: #fb3958;
            }

            &:hover {
                box-shadow: 0px 2px 2px 2px #777;
            }
        }

    }
}