* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {

  h1 {
    font-family: 'Space Grotesk', sans-serif;
  }

  p {
    font-family: 'Roboto Condensed', 'monseratt', sans-serif;
  }
  
}

.App {
  background-size: cover;
  background-position: bottom;
  transition: 0.8s ease-in-out;
}

/* .App.warm {
  
} */